
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    padding: 5px;
}

input {
    width: 80%;
    border-radius: 10px;
    padding: 1rem;
}

h2{
    width: 100%;
    text-align: center;
    align-items: center;
    align-content: center;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid rgb(199, 168, 199);
}

thead th:nth-child(1) {
    width: 14%;
}

thead th:nth-child(2) {
    width: 14%;
}

thead th:nth-child(3) {
    width: 14%;
}

thead th:nth-child(4) {
    width: 14%;
}

thead th:nth-child(5) {
    width: 14%;
}

thead th:nth-child(6) {
    width: 14%;
}

thead th {
    text-align: center;
}


th,
td {
    padding: 20px;
}

/* th {
    letter-spacing: 2px;
} */

/* td {
    letter-spacing: 1px;
} */

tbody td {
    text-align: center;
}


tbody tr:nth-child(odd) {
    background-color: #f5f4f5;
}

tbody tr:nth-child(even) {
    background-color: #ede9ed;
}

table {
    background-color: #f1ecef;
}

thead th {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));
    border: 3px solid purple;
}

tbody td {
    border: 3px solid purple;
}


@media screen and (max-width: 640px) {
    * {
        font-size: 8px;
    }

    th,
    td {
        padding: 5px;
    }

}

@media screen and (min-width: 640px) and (max-width: 1280px) {
    * {
        font-size: 14px;
    }


}

@media screen and (min-width: 1280px) {
    * {
        font-size: 20px;
    }
}
